<div>
    <div class="card p-3">
        <div class="card-body">
            <h5 class="card-title">
                <a
                        href="https://twitter.com/{{fromUser}}"
                        target="_blank"><span class="fas fa-user"></span> <span>{{fromUser}}</span></a>
                dice en
                <a
                        href="https://twitter.com/{{fromUser}}/status/{{idStr}}"
                        target="_blank"><span class="fab fa-twitter-square"></span> <span>{{idStr}}</span></a>
            </h5>
            <p class="card-text">{{unmodifiedText}}</p>
        </div>
    </div>
</div>